<h1>MainSite#my_courses</h1>
<p>Find me in app/views/main_site/my_courses.html.erb</p>

<h2>Current Courses</h2>
<% @current_sections.each do |section| %>
  <div>
    <%= section.inspect %>
  </div>
<% end %>

<h2>Past Courses</h2>
<% @past_sections.each do |(year, semester), sections| %>
  <div>
    <h3><%= "#{semester} #{year}" %></h3>
    <% sections.each do |section| %>
      <%= section.inspect %>
    <% end %>
  </div>
<% end %>
