<div class="welcome-content bg-dark">
  <div class="container">
    <div class="d-flex flex-column bg-white rounded-3 shadow-sm p-2 bg-dark-subtle">
      <div class="p-2 align-self-center text-center">
        <div class="">
          Welcome to
        </div>
        <div class="display-4">
          University K
        </div>
        <div class="text-primary-emphasis">
          The best university around, where you're happy you're not hit with a lorem ipsum,
          but rather this beautiful, word-loaded introduction about the best university around. We have classes, in all
          domains. A food course in the Math Department, where you get to attend pizza parties for an easy A.
        </div>
        <div class="display-6">
          <a href="register">Sign Up</a> today
        </div>
        and start skipping classes
      </div>
    </div>
  </div>
</div>