<div class = "bg-dark bg-gradient w-full p-5 text-light">
  <div style="color: red"><%= notice %></div>
  <div class = "mx-auto" style="width: 200px;">
    <div class = "text-white">
      <h1>Sections</h1>
    </div>
  </div>
  <div id="sections">
    <% @sections.each do |section| %>
      <div class = "mx-auto d-flex flex-column justify-content-center align-items-center" style="width: 800px;">
        <%= render section %> <!-- Grabs the _section html file and renders it as a seperate block-->
        <div><button type="button" class="btn btn-dark"><%= link_to "Show this section", section %></button></div>
      </div>
      <hr class="border border-primary border-3 opacity-30">
    <% end %>
  </div>
  <% if current_user.instructor? %>
    <div class = "mx-auto" style="width: 200px;">
      <button type="button" class="btn btn-black btn-lg"><%= link_to "New section", new_section_path %></button>
    </div>
  <% end %>
</div>