<div class = "d-flex flex-column align-items-center justify-contents-center">
  
  <div class="card text-white bg-success mb-3" style="width: 18rem; margin-top: 1rem;">
    <div class="card-header"><h1>New Course</h1></div>
    <div class="card-body">
      <p class="card-text"><%= render "form", course: @course %></p>
    </div>
  </div>
  
  <button type="button" class="btn btn-outline-danger">
      <div>
        <%= link_to "Back to courses", courses_path %>
      </div>
    </button>

</div>


  

